<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:e2="http://typo3.org/ns/JWeiland/Events2/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">


    <div class="calendar">

        <div class="day-name">Mo</div>
        <div class="day-name">Di</div>
        <div class="day-name">Mi</div>
        <div class="day-name">Do</div>
        <div class="day-name">Fr</div>
        <div class="day-name">Sa</div>
        <div class="day-name">So</div>

        <f:for each="{calendar}" as="date">
            <div class="day {f:if(condition: '{date.format(\'m\')} != {month.format(\'m\')}', then: 'other-month')}">
                <span class="day-number">{date.format('j')}</span>
            </div>
        </f:for>
    </div>


    <div class="e2ec-wrap">

        <f:form class="e2ec-search-form e2ec-totalcal-box e2ec-dropdown-classic e2ec-skin-search-init" additionalAttributes="{autocomplete: 'off'}">
            <div class="e2ec-dropdown-wrap">
                <div class="e2ec-dropdown-search"><i class="e2ec-sl-folder"></i><select name=" " id="mec_sf_category_74" class="postform">
                    <option value="" selected="selected">Kategorie</option>
                    <option class="level-0" value="92">Anlass</option>
                    <option class="level-0" value="93">für Familien</option>
                    <option class="level-0" value="171">für Jugendliche</option>
                </select>
                </div>
                <div class="e2ec-dropdown-search"><i class="e2ec-sl-location-pin"></i><select name=" " id="mec_sf_location_74" class="postform">
                    <option value="" selected="selected">Standort</option>
                    <option class="level-0" value="170">Bergwerk Gonzen Sargans</option>
                    <option class="level-0" value="187">Dorfkapelle Mels</option>
                    <option class="level-0" value="180">Friedhof Mels</option>
                    <option class="level-0" value="164">Grotte Wangs</option>
                    <option class="level-0" value="181">Haus Gutenberg, Balzers</option>
                    <option class="level-0" value="172">Kapelle Butz</option>
                    <option class="level-0" value="175">Kapelle Oberheiligkreuz</option>
                    <option class="level-0" value="173">Kapelle Ragnatsch</option>
                    <option class="level-0" value="188">Kapelle Schwendi</option>
                    <option class="level-0" value="174">Kapelle Tils</option>
                    <option class="level-0" value="178">Kirchplatz Sargans</option>
                    <option class="level-0" value="129">Lourdesgrotte</option>
                    <option class="level-0" value="176">Mehrzweckhalle Weisstannen</option>
                    <option class="level-0" value="186">Mels</option>
                    <option class="level-0" value="68">Pfarrei Heiligkreuz</option>
                    <option class="level-0" value="62">Pfarrei Mels</option>
                    <option class="level-0" value="4">Pfarrei Sargans</option>
                    <option class="level-0" value="67">Pfarrei Vilters</option>
                    <option class="level-0" value="66">Pfarrei Wangs</option>
                    <option class="level-0" value="65">Pfarrei Weisstannen</option>
                    <option class="level-0" value="118">Pfarreiheim Mels</option>
                    <option class="level-0" value="121">Pfarreiheim Sandgrube Sargans</option>
                    <option class="level-0" value="120">Pfarreiheim Vilters</option>
                    <option class="level-0" value="119">Pfarreiheim Wangs</option>
                    <option class="level-0" value="122">Pfarreisaal Heiligkreuz</option>
                    <option class="level-0" value="166">Pfarrkirche Heiligkreuz</option>
                    <option class="level-0" value="123">Pfarrkirche Mels</option>
                    <option class="level-0" value="167">Pfarrkirche Sargans</option>
                    <option class="level-0" value="162">Pfarrkirche Vilters</option>
                    <option class="level-0" value="154">Pfarrkirche Wangs</option>
                    <option class="level-0" value="133">Spleekapelle</option>
                    <option class="level-0" value="179">Unterer Pizolbahnparkplatz</option>
                    <option class="level-0" value="138">Vermol Mels</option>
                    <option class="level-0" value="193">Vildkapelle Sargans</option>
                </select>
                </div>
            </div>
        </f:form>
        <div class="e2ec-calendar e2ec-box-calendar e2ec-event-calendar-classic e2ec-event-container-classic" id="mec_skin_events_74_full">
            <div class="e2ec-calendar-side e2ec-clear">
                <div class="e2ec-skin-monthly-view-month-navigator-container">
                    <div class="e2ec-month-navigator" id="mec_month_navigator_74_202507">
                        <f:form.button name="month" value="6" class="e2ec-previous-month e2ec-load-month e2ec-previous-month">Juni</f:form.button>
                        <div class="e2ec-calendar-header"><h2>Juli 2025</h2></div>
                        <f:form.button name="month" class="e2ec-previous-month e2ec-load-month e2ec-previous-month">Juni</f:form.button>
                        <div class="e2ec-next-month e2ec-load-month e2ec-next-month" data-e2ec-year="2025" data-e2ec-month="08"><a href="#" class="e2ec-load-month-link">August <i class="e2ec-sl-angle-right"></i></a></div>
                    </div>
                </div>

                <div class="e2ec-calendar-table" id="mec_skin_events_74">
                    <div class="e2ec-month-container e2ec-month-container-selected" id="mec_monthly_view_month_74_202507" data-month-id="202507">
                        <dl class="e2ec-calendar-table-head">
                            <dt class="e2ec-calendar-day-head">MO</dt>
                            <dt class="e2ec-calendar-day-head">DI</dt>
                            <dt class="e2ec-calendar-day-head">MI</dt>
                            <dt class="e2ec-calendar-day-head">DO</dt>
                            <dt class="e2ec-calendar-day-head">FR</dt>
                            <dt class="e2ec-calendar-day-head">SA</dt>
                            <dt class="e2ec-calendar-day-head">SO</dt>
                        </dl>

                        <f:for each="{calendarWeeks}" as="calendarWeek">

                            <dl class="e2ec-calendar-row">
                                <f:for each="{calendarWeek}" key="weekDayNum" as="weekDay">
                                    <dt class="e2ec-calendar-day {f:if(condition:weekDay.day,then:' e2ec-calendar-in-month')}" data-e2ec-cell="{weekDay.date -> f:format.date(format: 'Ymd')}" data-day="" data-month="">
                                        <button data-bs-toggle="collapse" data-bs-target="#day-{weekDay.date -> f:format.date(format: 'Ymd')}" href="#">{weekDayNum}</button>
                                    </dt>
                                </f:for>
                            </dl>
                            <div class="e2ec-calendar-event-row">
                                <f:for each="{calendarWeek}" key="weekDayNum" as="weekDay">
                                    <div class="e2ec-calendar-events collapse" id="day-{weekDay.date -> f:format.date(format: 'Ymd')}" data-e2ec-cell="{weekDay.date -> f:format.date(format: 'Ymd')}">

                                        <f:for each="{weekDay.events}" as="event">
                                            <div class="e2ec-calendar-event"><p class="e2ec-table-side-title">Veranstaltungen für <span class="e2ec-color e2ec-table-side-day"> {weekDay.day}</span> {weekDay.date -> f:format.date(format: 'F')}</p>
                                                <article class="e2ec-past-event ended-relative e2ec-event-article ">

                                                    <f:if condition="{event.images}">
                                                        <div class="e2ec-event-image">

                                                        </div>
                                                    </f:if>

                                                </article>
                                            </div>
                                        </f:for>

                                    </div>

                                </f:for>
                            </div>

                        </f:for>

                    </div>
                </div>

            </div>
        </div>


    </div>


</f:section>
</html>
