<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:e2="http://typo3.org/ns/JWeiland/Events2/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">

    <div class="e2ec-wrap">

        <f:form action="goto" class="e2ec-search-form e2ec-totalcal-box e2ec-dropdown-classic e2ec-skin-search-init" additionalAttributes="{autocomplete: 'off'}">
            <f:form.hidden name="yearAndMonth" value="" />

            <div class="e2ec-dropdown-wrap">

                <div class="input-group mb-3" role="search" aria-label="Filter">
                    <f:if condition="{showLocationFilter}">
                        <f:form.select class="form-select" value="{selectedLocation}" name="location" options="{locationsArray}" prependOptionLabel="Ort" prependOptionValue="" additionalAttributes="{onchange: 'this.form.submit();'}" />
                    </f:if>
                    <f:if condition="{showCategoryFilter}">
                        <f:form.select class="form-select" value="{selectedCategory}" name="category" options="{categoriesArray}" prependOptionLabel="Kategorie" prependOptionValue="" additionalAttributes="{onchange: 'this.form.submit();'}" />
                    </f:if>
                </div>

            </div>

            <div class="e2ec-calendar e2ec-box-calendar e2ec-event-calendar-classic e2ec-event-container-classic">
                <div class="e2ec-skin-monthly-view-month-navigator-container">
                    <div class="e2ec-month-navigator">
                        <f:form.button type="submit" name="yearAndMonth" value="{previousYearAndMonth}" class="e2ec-previous-month"><f:translate key="LLL:EXT:events2_extended/Resources/Private/Language/locallang.xlf:month.{previousMonth}" /></f:form.button>
                        <p class="e2ec-calendar-header"><f:translate key="LLL:EXT:events2_extended/Resources/Private/Language/locallang.xlf:month.{month}" /> {year}</p>
                        <f:form.button type="submit" name="yearAndMonth" value="{nextYearAndMonth}" class="e2ec-next-month"><f:translate key="LLL:EXT:events2_extended/Resources/Private/Language/locallang.xlf:month.{nextMonth}" /></f:form.button>
                    </div>
                </div>

                <div class="e2ec-calendar-table" id="e2ec-calendar-table">
                    <div class="e2ec-month-container e2ec-month-container-selected">
                        <dl class="e2ec-calendar-table-head">
                            <dt class="e2ec-calendar-day-head">MO</dt>
                            <dt class="e2ec-calendar-day-head">DI</dt>
                            <dt class="e2ec-calendar-day-head">MI</dt>
                            <dt class="e2ec-calendar-day-head">DO</dt>
                            <dt class="e2ec-calendar-day-head">FR</dt>
                            <dt class="e2ec-calendar-day-head">SA</dt>
                            <dt class="e2ec-calendar-day-head">SO</dt>
                        </dl>

                        <f:for each="{calendarWeeks}" as="calendarWeek">

                            <dl class="e2ec-calendar-row">
                                <f:for each="{calendarWeek}" key="weekDayNum" as="weekDay">
                                    <dt class="e2ec-calendar-day {f:if(condition:weekDay.day,then:' e2ec-calendar-in-month')}" data-e2ec-cell="{weekDay.date -> f:format.date(format: 'Ymd')}" data-day="" data-month="">
                                        <button type="button" {f:if(condition: '{weekDay.events -> f:count()} > 0', else:'disabled')} data-bs-toggle="collapse" data-bs-target="#day-{weekDay.date -> f:format.date(format: 'Ymd')}" href="#">
                                            <span>{weekDay.day}</span>
                                        </button>
                                    </dt>
                                </f:for>
                            </dl>
                            <div class="e2ec-calendar-event-row">
                                <f:for each="{calendarWeek}" key="weekDayNum" as="weekDay">
                                    <div class="e2ec-calendar-events collapse" data-bs-parent="#e2ec-calendar-table" id="day-{weekDay.date -> f:format.date(format: 'Ymd')}" data-e2ec-cell="{weekDay.date -> f:format.date(format: 'Ymd')}">
                                        <p class="e2ec-calendar-events-title">Veranstaltungen für <span class="e2ec-color e2ec-table-side-day"> {weekDay.day}</span> {weekDay.date -> f:format.date(format: 'F')}</p>

                                        <f:for each="{weekDay.events}" as="event">
                                            <div class="e2ec-calendar-event">
                                                <article class="e2ec-past-event ended-relative e2ec-event-article ">
                                                    <p>
                                                    <f:if condition="{settings.pidOfDetailPage}">
                                                        <f:then>
                                                            <f:link.action
                                                                action="show"
                                                                controller="Day"
                                                                pluginName="show"
                                                                pageUid="{settings.pidOfDetailPage}"
                                                                arguments="{timestamp: weekDay.timestamp, event: event}"
                                                            >{event.title}</f:link.action>
                                                        </f:then>
                                                        <f:else>
                                                            {event.title}
                                                        </f:else>
                                                    </f:if>
                                                    </p>
                                                    <p>Ort: {event.location.locationAsString}</p>
                                                    <f:if condition="{event.images}">
                                                        <div class="e2ec-event-image">

                                                        </div>
                                                    </f:if>
                                                    <hr>
                                                </article>
                                            </div>
                                        </f:for>

                                    </div>

                                </f:for>
                            </div>

                        </f:for>

                    </div>
                </div>

            </div>
        </f:form>

    </div>


</f:section>
</html>
