

.e2ec-calendar-table-head, .e2ec-calendar-row {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin: 0;
}
.e2ec-calendar-day-head, .e2ec-calendar-day {
    display: table-cell;
    vertical-align: top;
}
.e2ec-calendar-day-head {
    background-color: #f4f4f4;
    width: 15%;
    line-height: 1.2;
    text-align: left;
    padding: 5px 7px;
    position: relative;
}

.e2ec-calendar-day {
    width: 15%;
    border-bottom: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
}
.e2ec-calendar-day button {
    height: 136px;
    line-height: 1.2;
    text-align: left;
    padding: 5px 7px;
    position: relative;
    background: #fff;
    width: 100%;
    border: none;
    display: flex;
    align-items: flex-start;
    transition: all .25s ease;
}
.e2ec-calendar-day button[disabled] {
    color: #666;
}
.e2ec-calendar-day button:not([disabled]) {
    background-color: #40d9f14f;
    color: #000;
}
.e2ec-calendar-day button:not([disabled]):hover {
    background-color: #40d9f1;
}
.e2ec-calendar-events {
    text-align: left;
    background: #fafafa;
    border: 1px solid #eaeaea;
    border-top: none;
    padding: 10px 20px;
}
.e2ec-calendar-events-title {
    font-weight: bold;
}
.e2ec-month-navigator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #eaeaea;
}
.e2ec-calendar-today button span {
    border: 2px solid red;
    padding: 2px;
}
